<h3>Quotes</h3>
<div class="section">
    <p class="lead"> Generateur de citation</p>
</div>
<div class="divider"></div>

<div class="divider"></div>
<div class="section">
    <div class="quotes-content">
        <div class="quotes-buttons">
            <a href="/part1">
                <bouton class="btn green darken-1 waves-effect waves-light" onclick="createQuote()">
                    Partie 1
                </bouton>
            </a>
            <a href="/part2">
                <bouton class="btn green darken-1 waves-effect waves-light" onclick="endQuote()">
                    Partie 2
                </bouton>
            </a>
        </div>
    </div>
</div>